@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body{
    background-color: black;
    font-family: "Ralewey", sans-serif;
    width: 1365px;
    max-width: 1365px;
    overflow-x: hidden;
}

/*headerrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrr
rrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrr
rrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrr
rrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrr*/

.header{
    position: relative;
    background-color: #110E0E;
    height: 80px;
    width: 100%;
}

.cont{
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 10px;
    
}

.logo{
    width: 120px;
    height: 40px;
    margin-top: 5px;
    margin-left: 40px;
}

.secciones{
    display: flex;
    text-indent: 10px;
    margin-top: 22px;
    margin-left: 60px;
    cursor: pointer;
}

.secciones p{
    color: white;
    font-weight: 700;
    font-size: 12px;
}

.secciones p strong img {
    margin-left: 5px;
    width: 12px;
    height: auto;
}

.secciones p:hover{
    color: #FD9800;
}

.dropdown-content {
    display: none;
    overflow-y: auto;
    position: absolute;
    justify-content: center;
    background-color: #101010;
    margin-top: 58px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: 1365px;
    left: 0px;
    gap: 48px;
}

.dropdown-content p {
    color: white;
    padding: 10px;
    font-size: 14px;
}

.buscador{
    margin-left: 15px;
    width: 185;
    height: 30;
    margin-top: 28px;
    margin-left: 20px;
}

.perfil{
    width: 126;
    height: 32;
    margin-top: 28px;
    margin-left: 15px;
}

/*Sliderrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrr
rrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrr
rrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrr
rrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrr*/

@keyframes slide {
    0% { transform: translateX(100%); }
    20% { transform: translateX(100%); }
    25% { transform: translateX(0%); }
    45% { transform: translateX(0%); }
    50% { transform: translateX(-100%); }
    70% { transform: translateX(-100%); }
    75% { transform: translateX(0%); }
    95% { transform: translateX(0%); }
    100% { transform: translateX(100%); }
  }
  

  .sliderpadre{
    margin-top: -14;
    margin-bottom: -14;
    margin-left: 0px;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  ul {
    list-style-type: none;
    padding-left: 0;
  }
  
  .wrapper {
    max-width: 1366px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .slider {
    position: relative;
  }
  
  .slides {
    position: relative;
    display: flex;
    overflow: hidden;
  }
  
  .slide {
    width: 1365px;
    height: 768px;
    flex-shrink: 0;
    animation-name: slide;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  
  .slides:hover .slide {
    animation-play-state: paused;
  }
  
  .slide img {
    width: 1365px;
    vertical-align: top;
  }
  
  .slide a {
    width: 1365px;
    display: inline-block;
    position: relative;
  }
  
  .caption {
    color: rgb(8, 0, 0);
    text-shadow: 1px 1px black;
    font-size: 8vw;
    position: absolute;
  }
  
  .fotos {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .slide:target {
    animation-name: none;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 50;
  }
  

  .imagen1 {
    position: relative;
    width: 1365px;
  }
  
  .imagen1 img {
    width: 1365px;
  }
  
  .degrade {
    font-family: "Ralewey", sans-serif;
    color: white;
    position: absolute;
    background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 5%;
  }

  .degrade h1{
    font-size: 48;
    max-width: 900;
    cursor: pointer;
  }

  .degrade h1:hover{
    color: #FD9800;
  }

  .subtitulo{
    font-weight: 400px;
    max-width: 800;
    font-size: 24;
  }
  
  .fechaytag {
    display: flex;
    gap: 20px;
    align-items: center;
  }
  
  .etiqueta p {
    background: #FD9800;
    color: black;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 15px;
  }
  
  .titulo {
    margin: 10px 0;
}

/*objetivossssssssssssssssssssssssssssssssssssss
ssssssssssssssssssssssssssssssssssssssssssssssss
ssssssssssssssssssssssssssssssssssssssssssssssss
ssssssssssssssssssssssssssssssssssssssssssssss*/

.objetivos {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.82), rgba(0, 0, 0, 0.82)), url(imagenes/sub-buzz-6054-1481838000-2_jpg.jpg);
    background-size: cover;
    background-position: 0;
    height: 456px;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.conte{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.conte .texto{
    font-size: 26px;
    margin-left: 80px;
}
.conte .objetivoslineas1{
    margin-right: 80px;
}

.conte .text1{
    color: white;
    font-size: 16px;
}
.conte .porcentajes{
    color: #FFFFFF;
}

.barra{
    background-color: #818181;
    width: 500;
    height: 20;
    margin-right: 9;
}

.barrarelleno1{
    background-color: #FD9800;
    width: 250;
    height: 20;
}
.barrarelleno2{
    background-color: #FD9800;
    width: 350;
    height: 20;
}
.barrarelleno3{
    background-color: #FD9800;
    width: 100;
    height: 20;
}

.barrayporcentaje{
    margin-top: -20;
    display: flex;
    align-items: center;
}

.texto{
    color: white;
    font-weight: 800;
    font-size: 30;
    max-width: 700;
}

.botoncrear{
    color: white;
    display: inline-block;
    background-color: #FD9800;
    border-radius: 4px;
    width: 540px;
    height: 51px;
    font-size: 25px;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 18;
}

.botoncrear:hover{
    background-color: #A76400;
}

/*top55555555555555555555555555555555555555555
5555555555555555555555555555555555555555555555
5555555555555555555555555555555555555555555555
55555555555555555555555555555555555555555555*/

.top5{
    background-color: rgb(255, 255, 255);
    width: 1066px;
    padding: 50 154 100 144;
}

.top5 h1{
    margin-bottom: 35px;
    font-size: 30px;
    font-weight: 400;
}

.top5 p{
    max-width: 1110px;
    font-size: 24;
    font-weight: 400;
}

.container {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    overflow-y: hidden;
    cursor: grab;
}

.container::-webkit-scrollbar {
    width: 8px;
    height: 4px;
}
  
.container::-webkit-scrollbar-thumb {
    background-color: #f2ac44;
}

.tarjeta{
    display: flex;
    flex-direction: column;
}

.tag{
    background-color: #FD9800;
    border-radius: 5px;
    margin-left: 365;
    margin-top: 10;
    margin-bottom: 313;
    padding: 5 10 5 10;
    font-weight: 600;
    font-size: 13;
}

.imagen2{
    border-radius: 8px 8px 0px 0px;
    background-image: url(imagenes/scorsese-s.jpeg);
    background-size: cover;
    background-position: center;
    width: 450;
    height: 350;
    display: flex;
}

.imagen3{
    border-radius: 8px 8px 0px 0px;
    background-image: url(imagenes/ferrari.jpeg);
    background-size: cover;
    background-position: center;
    width: 450;
    height: 350;
    display: flex;
}

.imagen4{
    border-radius: 8px 8px 0px 0px;
    background-image: url(imagenes/oppenheimer-cillian_webp.jpg);
    background-size: cover;
    background-position: center;
    width: 450;
    height: 350;
    display: flex;
}

.imagen5{
    border-radius: 8px 8px 0px 0px;
    background-image: url(imagenes/A/brad-pitt-babylon-1140x570.jpg);
    background-size: cover;
    background-position: center;
    width: 450;
    height: 350;
    display: flex;
}

.imagen6{
    border-radius: 8px 8px 0px 0px;
    background-image: url(imagenes/A/netflix-el-precio-del-mananajpg-1140x570.png);
    background-size: cover;
    background-position: center;
    width: 450;
    height: 350;
    display: flex;
}

.textos{
    border-radius: 0px 0px 8px 8px;
    background-color: #110E0E;
    color: white;
    width: 450;
    height: 150;
}

.x{
    padding: 0 13 20 20;
}

.imgaa{
    width: 100%;
    height: auto;
    max-width: 14;
}

.textos p{
    color: #FFA601;
    font-size: 17;
}

.textos h3{
    font-size: 18;
    font-weight: 400;
}

.textos p1{
    font-size: 12;
    font-style: italic;
    font-weight: 400;
}

.prev, .next {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 100;
}

.prev {
    left: 125px;
    height: 500;
}

.next {
    right: 104px;
    height: 500;
    margin-top: -500;
}

.prev:hover, .next:hover {
    background-color: #aaa;
}


/*opinionnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnn
nnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnn
nnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnn
nnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnn*/

.opinion{
    margin-top: -16px;
    background-color: black;
    height: 953px;
    width: 1082px;
    padding: 100 142 0 142;
}

.blanco{
    color: white;
}

.negro{
    color: black;
}

.texto1 h1{
    font-weight: 500;
    font-size: 32;
}

.texto1 p{
    font-weight: 400;
    font-size: 24;
}

.seccion1{
    display: flex;
    gap: 15px;
}

.sg{
    border-radius: 8px;
    background-size: cover;
    width: 368;
    height: 608;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    overflow: hidden;
}

.sc{
    border-radius: 8px;
    background-size: cover;
    width: 368;
    height: 288;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.seccioneschicas{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.degradets{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.335) 100%, rgba(0, 0, 0, 0.335) 100%);
    border-radius: 0px 0px 4px 4px;
}

.ts{
    color: white;
    height: 77;
    margin-left: 24.5px;
    margin-bottom: 30;
    margin-top: 30px;
    font-weight: 600;
}

.ts span{
    background-color: #FFA601;
    color: black;
    padding: 10 5;
    border-radius: 5px;
    font-size: 9;
    cursor: pointer;
    z-index: 2;
}

.ts span:hover{
   background-color: #101010;
   color: #FD9800;
}

.ts span:hover::after {
    border-color: white;
    content: "+ SEGUIR";
    color: #ffffff;
    margin-left: 5px;
    border: 1px solid #ffffff;
    padding: 4px;
}

.ts p:hover{
    color: #FD9800;
}

.ts p{
    width: 319;
    height: 42;
    font-weight: 400;
    font-size: 16;
    max-width: 230;
    cursor: pointer;
}

/*recomendadossssssssssssssssssssssssssssssssss
sssssssssssssssssssssssssssssssssssssssssssssss
sssssssssssssssssssssssssssssssssssssssssssssss
sssssssssssssssssssssssssssssssssssssssssssss*/

.recomendados{
    margin-top: -16px;
    background-color: white;
    height: 993px;
    width: 1082px;
    padding: 100 142 0 142;
}

.contenedors{
    display: flex;
    flex-direction: row;
    gap: 13px;
}

.secciongrandeychica{
    display: flex;
    gap: 13px;
    flex-direction: column;
}

.seccionchicapor3{
    display: flex;
    gap: 13px;
    flex-direction: column;
}

.sgyc{
    border-radius: 8px;
    background-size: cover;
    width: 270;
    height: 428;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.scyg{
    border-radius: 8px;
    background-size: cover;
    width: 270;
    height: 242;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.scc{
    border-radius: 8px;
    background-size: cover;
    width: 270;
    height: 220;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.sccc{
    border-radius: 8px;
    background-size: cover;
    width: 270;
    height: 213;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

/*mis articulosssssssssssssssssssssssssssssssss
sssssssssssssssssssssssssssssssssssssssssssssss
sssssssssssssssssssssssssssssssssssssssssssssss
sssssssssssssssssssssssssssssssssssssssssssss*/

.misarticulos{
    margin-top: -16px;
    background-color: black;
    height: 917px;
    width: 1082px;
    padding: 100 142 0 142;
}

.articulos{
    display: flex;
    gap: 25px;
    overflow-x: auto;
}

.articulos::-webkit-scrollbar {
    width: 8px;
    height: 4px;
}
  
.articulos::-webkit-scrollbar-thumb {
    background-color: #ffffff;
}

.tarjetamisarticulos{
    width: 396px;
    height: 518px;
    display: flex;
    flex-direction: column;
}

.imagart{
    background-image: url(imagenes/120-latido-por-minuto-trailer-1100x570_jpg.jpg);
    background-size: cover;
    background-position: -140;
    border-radius: 8px 8px 0px 0px;
    width: 396px;
    height: 368px;
    display: flex;
    justify-content: flex-end;
}

.imagart span{
    background-color: #FFA601;
    color: black;
    padding: 10 5 10 5;
    border-radius: 5px;
    margin: 10 10 0 0;
    width: 86;
    height: 20;
    font-size: 13;
    font-weight: 600;
    justify-content: center;
    align-items: center;
    display: flex;
}

.textoss{
    width: 396px;
    height: 150px;
    background-color: #FFFFFF;
    border-radius: 0px 0px 8px 8px;
}

.y{
    padding: 10 10 10 30;
}

.y p{
    font-weight: 600;
    font-size: 20px;
    max-width: 294;
}

.abajo p1, .abajo p2{
    font-size: 18;
}

.abajo1{
    max-width: 400px;
}

.abajo{
    display: flex;
    margin-top: 25;
    gap: 210px;
}

.comm, .star, .compartir{
    width: 16px ;
    font-weight: 500;
}

.star{
    margin-left: 3;
}

.comm1, .star1, .compartir1{
    mix-blend-mode: multiply;
    width: 16px ;
    font-weight: 500;
}

/*tarjetas oscuras*/

.misarticulos2{
    margin-top: -16px;
    background-color: black;
    height: 917px;
    width: 100%;
    padding: 100 142 0 142;
}

.tarjetamisarticulos2{
    width: 396px;
    height: 518px;
    display: flex;
    flex-direction: column;
}

.imagart2{
    background-color: #2c2c2c;
    background-size: cover;
    background-position: -140;
    border-radius: 8px 8px 0px 0px;
    width: 396px;
    height: 368px;
    display: flex;
    justify-content: flex-end;
}

.imagart2 span{
    background-color: #242424;
    color: rgba(0, 0, 0, 0);
    padding: 10 5 10 5;
    border-radius: 5px;
    margin: 10 10 0 0;
    width: 86;
    height: 20;
    font-size: 13;
    font-weight: 600;
    justify-content: center;
    align-items: center;
    display: flex;
}

.textoss2{
    width: 396px;
    height: 150px;
    background-color: #1f1f1f;
    border-radius: 0px 0px 8px 8px;
}

.y2{
    padding: 10 10 10 30;
    color: #101010;
}

.y2 p{
    font-weight: 600;
    font-size: 20px;
    max-width: 294;
}

.abajo2 p1, .abajo2 p2{
    font-size: 18;

}

.abajo2{
    display: flex;
    gap: 240px;
}

.comm, .star, .compartir{
    width: 16px ;
    font-weight: 500;
}

/*lo ultimoOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO
OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO
OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO
OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO*/

.loultimo{
    margin-top: -16px;
    background-color: rgb(255, 255, 255);
    height: 953px;
    width: 1082px;
    padding: 100 142 0 142;
}

/*lo mas leidooooooooooooooooooooooooooooooooooo
oooooooooooooooooooooooooooooooooooooooooooooooo
oooooooooooooooooooooooooooooooooooooooooooooooo
oooooooooooooooooooooooooooooooooooooooooooooo*/

.lomasleido{
    margin-top: -16px;
    background-color: black;
    height: 953px;
    width: 1082px;
    padding: 100 142 0 142;
}

/*entrevistasssssssssssssssssssssssssssssssssss
sssssssssssssssssssssssssssssssssssssssssssssss
sssssssssssssssssssssssssssssssssssssssssssssss
sssssssssssssssssssssssssssssssssssssssssssss*/

.entrevistas{
    margin-top: -16px;
    background-color: white;
    height: 953px;
    width: 1082px;
    padding: 100 142 0 142;
}

/*ultimos articulossssssssssssssssssssssssssss
ssssssssssssssssssssssssssssssssssssssssssssss
ssssssssssssssssssssssssssssssssssssssssssssss
ssssssssssssssssssssssssssssssssssssssssssss*/

.ultimosarticulos{
    margin-top: -16px;
    background-color: black;
    height: 732px;
    width: 1082px;
    padding: 100 142 0 142;
}

.finalseccion{
    display: flex;
    gap: 30px;
    overflow-x: auto;
}

.finalseccion::-webkit-scrollbar {
    width: 8px;
    height: 4px;
}
  
.finalseccion::-webkit-scrollbar-thumb {
    background-color: #ffffff;
}

.tarjetafinal{
    background-position: center;
    width: 565;
    height: 464;
    display: flex;
    justify-content: center;
    align-items: end;
}

.degradefinal{
    align-items: center;
    display: flex;
    width: 565;
    height: 174;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.735) 100%, rgba(0, 0, 0, 0.735) 100%);
}

.tagfinal{
    background-color: #FD9800;
    width: 86;
    height: 23;
    border-radius: 3px;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-left: 60px;
}

.tagfinal p{
    font-size: 11;   
}

.texx{
    color: white;
    font-size: 26;
    max-width: 445;
    margin-left: 60;
}

.texx:hover{
    color: #FD9800;
}

/*footerrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrr
rrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrr
rrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrr
rrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrr*/

footer{
    position: relative;
        bottom: 0px;
        background: #111;
        height: 300px;
        width: 100%;
        margin-top: 0px;
        color: #fff;
    }
    .footer-content .logo-footer {
        position: absolute;
        top: 46px; 
        left: 141px;
        width: 201px; 
        height: 65px; 
        background-image: url('imagenes/logo-footer.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .footer-content .texto-footer{
        font-size: 20px;
        font-weight: 400;
        margin-left: 141px;
        margin-top: -130px;
        max-width: 550px;
        
    }
    .footer-content .socials h3{
        font-size: 13px;
        font-weight: 400;
        margin-left: 1060px;
        margin-top: 46px;
        margin-bottom: 20px;
    }

    .footer-content .socials {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    
    .footer-content .socials a {
        display: flex; 
        align-items: center; 
        margin-bottom: 20px; 
        text-decoration: none;
    }
    
    .footer-content .socials img {
        width: 30px;
        height: auto; 
        margin-right: 5px; 
        margin-left: 1060px;
        
    }
    .footer-content .socials span {
        font-size: 14px;
        color: #fff;
    }
    .footer-content .boton-footer{
        width: 135px;
        height: 32px;
        font-size: 16px;
        background-color: #FFA700;
        color: white;
        border: none;
        cursor: pointer;
        margin-left: 145px;
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 10px;
        padding-bottom: 10px;
        text-decoration: none;
    }
    
    .footer-bottom p{
        font-size: 16px;
        margin-top: 60px;
        text-align: center;
    }

/*IMAGENESSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSS
SSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSS
SSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSS
SSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSS*/

/*OPINION*/
.sg1op{
    background-image: url(imagenes/cabeza-federer-pasa-mucho-tiempo-documental-agachada-reflexion-tristeza_98-1140x570.png);
    background-position: center;
}
.sc1op{
    background-image: url(imagenes/exorcista-creyentes-1140x570.jpeg);
    background-position: center;
}
.sc2op{
    background-image: url(imagenes/the-bear-2-6-1140x570.jpeg);
    background-position: center;
}
.sc3op{
    background-image: url(imagenes/ferrari.jpeg);
    background-position: center;
}
.sc4op{
    background-image: url(imagenes/the-killer-1140x570.jpeg);
    background-position: center;
}

/*RECOMENDADOS*/
.sg1rc{
    background-image: url(imagenes/anya-1140x570.jpeg);
    background-position: center;
}
.sg2rc{
    background-image: url(imagenes/la-tumba-de-las-luciernagas-900x570.jpg);
    background-position: center;
}
.sg3rc{
    background-image: url(imagenes/the-bear-2-6-1140x570.jpeg);
    background-position: center;
}
.sc1rc{
    background-image: url(imagenes/la-mesias-1140x570.jpeg);
    background-position: center;
}
.sc2rc{
    background-image: url(imagenes/buzz-dos-1140x570.jpeg);
    background-position: center;
}
.sc3rc{
    background-image: url(imagenes/memoria-infinita.jpeg);
    background-position: center;
}
.scc1rc{
    background-image: url(imagenes/barbarian-georgina-campbell-1667074787-1140x570.jpg);
    background-position: center;
}
.scc2rc{
    background-image: url(imagenes/the-fabelmans-spielberg-1140x570.jpeg);
    background-position: center;
}
.sccc1rc{
    background-image: url(imagenes/elena-sabe.jpeg);
    background-position: center;
}

/*LO ULTIMO*/
.sg1lu{
    background-image: url(imagenes/antony-starr-homelander-the-boys-1140x570.jpg);
    background-position: center;
}
.sc1lu{
    background-image: url(imagenes/cabeza-federer-pasa-mucho-tiempo-documental-agachada-reflexion-tristeza_98-1140x570.png);
    background-position: center;
}
.sc2lu{
    background-image: url(imagenes/martin-scorsese-tik-tok-mejor-pelicula-1140x570.jpg);
    background-position: center;
}
.sc3lu{
    background-image: url(imagenes/xavier-dolan-1140x570.jpg);
    background-position: center;
}
.sc4lu{
    background-image: url(imagenes/bebe-reno-1140x570.jpg);
    background-position: center;
}

/*LO MAS LEIDO*/
.sg1lm{
    background-image: url(imagenes/A/Perfectos_desconocidos-1140x570.jpg);
    background-position: center;
}
.sg2lm{
    background-image: url(imagenes/A/godzilla.jpeg);
    background-position: center;
}
.sg3lm{
    background-image: url(imagenes/A/WhatsApp-Image-2022-03-02-at-22.28.48-1140x570.jpeg);
    background-position: center;
}
.sc1lm{
    background-image: url(imagenes/A/friends-portada.jpg);
    background-position: center;
}
.sc2lm{
    background-image: url(imagenes/A/anya-taylor-joy-1140x570.jpg);
    background-position: center;
}
.sc3lm{
    background-image: url(imagenes/A/VOH6YW334NCSVCCEQDXRJRVJXY-1140x570.jpg);
    background-position: center;
}
.scc1lm{
    background-image: url(imagenes/A/first-furiosa-trailer-reveals-anya-taylor-joy-a-young-immort_x8d7.1200-1140x570.png);
    background-position: center;
}
.scc2lm{
    background-image: url(imagenes/A/murio-el-actor-donald-sutherland-a-los-88-UUAE5ENRTBHF5LNASB4DUKVJZ4_jpg.jpg);
    background-position: center;
}
.sccc1lm{
    background-image: url(imagenes/A/peaky-blinders-cillian-murphy-1648030077-1140x570.jpg);
    background-position: center;
}

/*ENTREVISTAS*/
.sg1e{
    background-image: url(imagenes/memoria-infinita.jpeg);
    background-position: center;
}
.sg2e{
    background-image: url(imagenes/anya-1140x570.jpeg);
    background-position: center;
}
.sg3e{
    background-image: url(imagenes/A/Captura-de-pantalla-2023-11-06-a-las-21.54.09.png);
    background-position: center;
}
.sc1e{
    background-image: url(imagenes/A/l-intro-1699979663-1140x570.jpg);
    background-position: center;
}
.sc2e{
    background-image: url(imagenes/con-todos-menos-contigo-.jpeg);
    background-position: center;
}
.sc3e{
    background-image: url(imagenes/A/cozarinsky-cinefilos.jpg);
    background-position: center;
}
.scc1e{
    background-image: url(imagenes/A/Maite-Alberdi-scaled-1-e1605189362678-1140x570.jpg);
    background-position: center;
}
.scc2e{
    background-image: url(imagenes/A/fallen-leaves-1140x570.jpeg);
    background-position: center;
}
.sccc1e{
    background-image: url(imagenes/A/wonka2.cinefilos-1140x570.jpg);
    background-position: center;
}

/*Ultima seccion*/

.sc1ul{
    background-image: url(imagenes/3MQQ65FUHFH2XOXYBA4Y3XZHIE-1140x570.jpg);
    background-position: center;
}

.sc2ul{
    background-image: url(imagenes/A/IntensaMente-2-Riley-1140x570.jpeg);
    background-position: center;
}

.sc3ul{
    background-image: url(imagenes/A/martha-bebe-reno-1-1140x570.jpg);
    background-position: center;
    background-position-y: 0px;
}

.sc4ul{
    background-image: url(imagenes/A/qq.png);
    background-position: center;
}